body {
  	background-image: url('PrettyWellLight.jpg');
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}

#welcome-text {
	margin: 20px !important;
	text-align: center !important;
}
